<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Karn Lands: Reviewing every colorless land for EDH</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f5f5f5;
        }
        .year-section {
            margin-bottom: 30px;
        }
        h2 {
            border-bottom: 2px solid #666;
            padding-bottom: 5px;
			width: 800px;
        }
        table {
            width: 800px;
            border-collapse: collapse;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }
        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
		td:first-child {
			vertical-align: top;
		}
		.card-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4px;
		}
        .rating {
            font-family: monospace;
            font-size: 20pt;
            /* color: #d4af37; */
            white-space: nowrap;
        }
        .card-name {
			font-family: monospace;
			font-size: 12pt;
            font-weight: bold;
			background-color: black;
			color: white;
			underline: none;
			padding: 4px;
        }
		.card-image {
			border-radius: 5px;
		}
    </style>
</head>
<body>
    {% for year, reviews in reviews_by_year.items() %}
    <div class="year-section">
        <h2>{{year}}</h2>
        <table>
            <tbody>
                {% for review in reviews -%}
                <tr>
                    <td>
						<div class="card-info">
							<div class="rating">{{star * review.rating}}</div>
							<a href="{{scryfall_url(review.card)}}"><img class="card-image" src="{{image(review.card)}}"></a>
						</div>
					</td>
                    <td>
						<a class="card-name" href="{{scryfall_url(review.card)}}">{{review.card}}</a>
						{% for para in review.review -%}
						<p>{{link_cards(para)}}</p>
						{%- endfor %}
					</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</body>
</html>
