<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Karn Lands: Reviewing every colorless land for EDH</title>
	<style>
		@font-face {
			font-family: "Goudy Medieval";
			src: url("Goudy-Medieval-Alt.ttf");
		}
		@font-face {
			font-family: "Source Serif";
			src: url("Source-Serif.ttf");
		}
		body {
			background-color: white;
			background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
		}
		.karn-lands {
			display: flex;
			flex-direction: column;
			gap: 16px;
			max-width: 800px;
			margin: 20px;
			font-family: Arial, sans-serif;
		}
		h2 {
			text-align: center;
			color: white;
			background-color: black;
			font-size: 20pt;
			padding: 12px;
		}
		.review-group {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		.review {
			display: flex;
			gap: 20px;
			padding: 12px;
			background-color: white;
			box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
			font-size: 12pt;
			font-family: "Source Serif";
		}
		.column {
			display: flex;
			flex-direction: column;
		}
		.right {
			flex: 1;
		}
		.rating {
			font-family: monospace;
			font-size: 24pt;
			text-align: center;
			white-space: nowrap;
		}
		.card-name {
			display: inline-block;
			font-family: 'Goudy Medieval';
			font-size: 16pt;
			font-weight: bold;
			background-color: black;
			background-image: url("https://www.transparenttextures.com/patterns/old-husks.png");
			border: 4px outset black;
			color: white;
			text-decoration: none;
			padding: 4px 8px;
		}
		.card-image {
			display: block;
			border-radius: 5px;
			width: 240px;
		}
	</style>
</head>
<body>
	<div class="karn-lands">
		{% for year, reviews in reviews_by_year.items() %}
		<h2>{{year}}</h2>
		<div class="review-group">
			{% for review in reviews -%}
				{%- if review.card -%}
				<div class="review">
					<div class="left column">
						<div class="rating">{{star * review.rating}}</div>
						<a href="{{review.url}}"><img class="card-image" src="{{review.img}}"></a>
					</div>
					<div class="right column">
						<div><a class="card-name" href="{{review.url}}">{{review.card}}</a></div>
						<div>
							{% for para in review.review -%}
							<p>{{link_cards(para)}}</p>
							{%- endfor %}
						</div>
					</div>
				</div>
				{%- else -%}
				<div class="review column">
					{% for para in review.review -%}
					<p>{{link_cards(para)}}</p>
					{%- endfor %}
				</div>
				{%- endif -%}
			{%- endfor %}
		</div>
		{% endfor %}
	</div>
</body>
</html>
