<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Karn Lands: Reviewing every colorless land for EDH</title>
	<style>
		@font-face {
			font-family: "Goudy Medieval";
			src: url("Goudy-Medieval-Alt.ttf");
		}
		@font-face {
			font-family: "Source Serif";
			src: url("Source-Serif.ttf");
		}
		body {
			font-family: Arial, sans-serif;
			margin: 20px;
			background-color: white;
			background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
		}
		.year-section {
			font-size: 16pt;
			margin-bottom: 30px;
		}
		.review {
			display: flex;
			gap: 4px;
			width: 800px;
			padding: 4px;
			background-color: white;
			box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
			font-size: 12pt;
			font-family: "Source Serif";
		}
		.review:not(:last-child) {
			margin-bottom: 8px;
		}
		.column {
			display: flex;
			flex-direction: column;
			padding: 4px;
		}
		.right {
			flex: 1;
		}
		.rating {
			font-family: monospace;
			font-size: 20pt;
			text-align: center;
			white-space: nowrap;
		}
		.card-name {
			display: inline-block;
			font-family: 'Goudy Medieval';
			font-size: 16pt;
			font-weight: bold;
			background-color: black;
			background-image: url("https://www.transparenttextures.com/patterns/old-husks.png");
			border: 4px outset black;
			color: white;
			text-decoration: none;
			padding: 4px 8px;
		}
		.card-image {
			display: block;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	{% for year, reviews in reviews_by_year.items() %}
	<div class="year-section">
		<h2>{{year}}</h2>
		<div>
			{% for review in reviews -%}
			<div class="review">
				<div class="left column">
					<div class="rating">{{star * review.rating}}</div>
					<a href="{{scryfall_url(review.card)}}"><img class="card-image" src="{{image(review.card)}}"></a>
				</div>
				<div class="right column">
					<div><a class="card-name" href="{{scryfall_url(review.card)}}">{{review.card}}</a></div>
					<div>
						{% for para in review.review -%}
						<p>{{link_cards(para)}}</p>
						{%- endfor %}
					</div>
				</div>
			</div>
			{%- endfor %}
		</div>
	</div>
	{% endfor %}
</body>
</html>
